b {
    margin-right: 2px;
}

.mbI-0 {
    margin-bottom: 0px !important;
}

.mtI-3 {
    margin-top: 3px !important;
}

.plI-0 {
    padding-left: 0px !important;
}

.prI-0 {
    padding-right: 0px !important;
}

@media (max-width: 768px) {
    .booking-card-custom {
        max-width: 10rem !important
    }

    .booking-card-custom {
        margin-top: 10px !important
    }

    .group-two-product {
        margin: 0px 0px 0px 0px !important
    }

    .product-container {
        margin-left: 20px !important
    }

    h4 {
        font-size: 18px;
    }

    p.card-text-custom {
        display: none;
    }
}

@media (max-width: 1366px) {
    #menu-left section {
        visibility: hidden;
    }

    /*#menu-left section .booking-card .card-body{*/
    /*    display: none;*/
    /*}*/
}
@media (max-width: 800px) {
    .haha-custom {
        max-width: 100% !important;
    }
}

.booking-card-custom, .booking-card {
    margin-right: 10px !important;
    -webkit-box-shadow: -1px 1px 18px -10px rgba(0, 0, 0, 0.78);
    -moz-box-shadow: -1px 1px 18px -10px rgba(0, 0, 0, 0.78);
    box-shadow: -1px 1px 18px -10px rgba(0, 0, 0, 0.78);
}

.my-card {
    -webkit-box-shadow: -1px 1px 18px -10px rgba(0, 0, 0, 0.78);
    -moz-box-shadow: -1px 1px 18px -10px rgba(0, 0, 0, 0.78);
    box-shadow: -1px 1px 18px -10px rgba(0, 0, 0, 0.78);
}

.group-two-product {
    margin-right: 10px;
    margin-bottom: 10px
}

.product-container {
    margin-left: 60px;
}

#map {
    height: 100%;
}

.item-text:hover {
    color: #5431ff;
    content: 'hehe';
}

#menu-left {
    z-index: 100;
    position: fixed;
    margin-left: 20px;
}

#menu-left section .booking-card {
    border-radius: 10px;
    -webkit-box-shadow: -1px 2px 21px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 2px 21px 0px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 2px 21px 0px rgba(0, 0, 0, 0.75);
}

i.arrow-menu-left {
    position: absolute;
    right: 15px;
}

ul.menu-sidebar-custom li {
    padding: 10px;
    border-bottom: #e0dddd 1px solid
}

ul.menu-sidebar-custom li:hover {
    color: red;
}

.icon-menu-user {
    margin-right: 10px;
}

.active-menu {
    visibility: unset;
}

/*DETAIL*/
#detail-product-img {
    max-width: 450px;
    max-height: 300px;
    margin-top: 20px;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.comment-user {
    color: black;
    font-weight: bold;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.rating-point {
    margin-top: 10px;
    position: absolute;
    color: white;
    background: #03ae03;
    text-align: center;
    border-radius: 100px;
    display: block;
    width: 32px;
    height: 32px;
    font-size: 12px;
    line-height: 32px;
    overflow: hidden;
    right: 20px;
}
.rating-point-main  {
    margin-bottom: 10px;
    color: white;
    background: #03ae03;
    text-align: center;
    border-radius: 100px;
    display: block;
    width: 36px;
    height: 36px;
    font-size: 22px;
    line-height: 37px;
    overflow: hidden;
    right: 20px;
}

.comment-panel {
    position: relative;
    padding-bottom: 10px;
    margin: 0px 10px 20px 0px;
}


@media (max-width: 800px) {
    .comment-panel {
        position: relative;
        margin: 0px;
    }
}

@media (max-width: 935px) {
    #detail-product-img {
        width: 372px;
        height: 300px;
        margin-top: 20px;
    }
}


@media (max-width: 400px) {
    #detail-product-img {
        width: 347px;
        height: 300px;
        margin-top: 20px;
    }

    .comment-panel {
        position: relative;
        margin: -15px 0px 0px;
    }

    .comment-panel:nth-child(n+2) {
        position: relative;
        margin: 18px 0px 0px !important;
    }

    .my-comment {
        width: 79% !important;
    }
    .sub-comment {
        margin: -15px -30px 0px !important;
    }

    .form-inline-custom {
        margin-left: -24px !important;
    }
}

@media (max-width: 330px) {
    #detail-product-img {
        width: 290px;
        height: 250px;
        margin-top: 20px;
    }
}

.comment-content {
    margin: 0px 20px 0px;
}

.comment-image {
    object-fit: cover; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
    height: 270px;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.comment-footer {
    margin: 0px 35px 0px;
}

.sub-comment {
    margin: -15px -15px 0px;
}

.see-more {
    text-align: center;
    margin-top: -15px;
}

.my-comment {
    height: 40px;
    width: 90%;
    margin: 10px 0px 7px;
}

.sub-comment:last-child {
    padding-bottom: 0px !important;
}

.point_rating_detail {
    font-size: large;
    font-weight: bolder;
}

.rating-card {
    padding: 10px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.78) !important;
    position: sticky !important;
    top: 80px
}
.comment-time {
    margin-bottom: -5px !important; font-size: 12px !important;
    color: #898989;
}
.point-rating-header {
    font-size: 20px;
    color: green;
    font-weight: bold;
}

.see-more:last-child {
    padding: 5px;
    font-size: large;
    margin-top: 10px;
}

.see-more:last-child:hover {
    background-color: #bbaaaa;

}
.see-more a{
    color: rgb(142, 192, 208);
}
.see-more:hover a{
    color: rgb(25 142 179)
}

.see-more:last-child a{
    color: #8ec0d0
}
.see-more:last-child:hover a{
    cursor: pointer;
    color: white;
}
.see-more:last-child:hover{
    cursor: pointer;
}

.action div:hover i{
    color: blue;
    cursor: pointer;
}

.action div:hover span{
    color: blue;
    cursor: pointer;
}

.custom-range {
    height: 32px;
}
