@media (max-width:768px) {
    .booking-card-custom {
        max-width: 10rem !important
    }

    .booking-card-custom {
        margin-top: 10px !important
    }
    .group-two-product {
        margin: 0px 0px 0px 0px!important
    }
    .product-container {
        margin-left: 20px !important
    }
    h4 {
        font-size: 18px;
    }
    p.card-text-custom {
        display: none;
    }
}
@media (max-width: 1366px) {
    #menu-left section{
        visibility: hidden !important;
    }
    /*#menu-left section .booking-card .card-body{*/
    /*    display: none;*/
    /*}*/
}


.booking-card-custom, .booking-card {
    margin-right: 10px !important;
    -webkit-box-shadow: -1px 1px 18px -10px rgba(0,0,0,0.78);
    -moz-box-shadow: -1px 1px 18px -10px rgba(0,0,0,0.78);
    box-shadow: -1px 1px 18px -10px rgba(0,0,0,0.78);
}

.group-two-product {
    margin-right: 10px;
    margin-bottom: 10px
}
.product-container {
    margin-left: 60px;
}

#map {
    height: 100%;
}

.item-text:hover {
    color: #5431ff;
    content: 'hehe';
}

#menu-left {
    z-index: 100;
    position : fixed;
    margin-left: 20px;
}
#menu-left section .booking-card {
    border-radius:  10px;
    -webkit-box-shadow: -1px 2px 21px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 2px 21px 0px rgba(0,0,0,0.75);
    box-shadow: -1px 2px 21px 0px rgba(0,0,0,0.75);
}
i.arrow-menu-left {
    position: absolute;
    right: 15px;
}
ul.menu-sidebar-custom li{
    padding: 10px;
    border-bottom : #e0dddd 1px solid
}
ul.menu-sidebar-custom li:hover{
    color: red;
}

.icon-menu-user {
    margin-right: 10px;
}
